.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
}
.news-list__item {
    border: 1px solid transparent;
}
.news-list__item:hover {
    border: 1px solid var(--main-gray);
}
.news-article__footer {
    display: flex;
    align-items: center;
}

.news-article__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    max-width: 240px;
    margin-bottom: 10px;
}

.news-articel__preview {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.news-article__date, .news-article__time, .news-article__author {
    font-weight: 300;
    font-size: 10px;
    line-height: 13x;
    color: var(--main-dark-gray);
}
.news-article__date {
    margin-right: 12px;
}
.news-article__time {
    margin-right: auto;
}

.news-article__image {
    display: block;
}

.news-article {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.news-article__title {
    margin-bottom: 10px;
    display: block;
}
.news-articel__content {
    position: relative;
}
.news-articel__content:hover .decor {
    transform: rotate(180deg);
}

.decor {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/svg/icons/news_arrow-icon.svg);
    right: 0;
    top: 0;
    display: block;
    width: 24px;
    height: 24px;
    transition: 0.35s ease-in-out;
}
